/* line 1, ../../scss/account/content.scss */
body {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../../scss/account/content.scss */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 10, ../../scss/account/content.scss */
.container .page-header {
  position: relative;
}
/* line 12, ../../scss/account/content.scss */
.container .page-header a.btn {
  position: absolute;
  right: 0;
  top: 10px;
}
/* line 29, ../../scss/account/content.scss */
.container table tbody tr.credit {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2P8z8BgzEABYBw1gGE0DBhGw4BhWIQBAFLfEzE5cJ/rAAAAAElFTkSuQmCC);
  background: rgba(255, 0, 0, 0.2) !important;
}
